# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo

# Ignore all build directories
**/build/

# Ignore all .cache directories
**/.cache/
ble_com/components/
venv/
**/build/
**/.cache/
.vscode/
*.code-workspace

# Maven
target/

# macOS
.DS_Store

# Python
__pycache__/
*.pyc

# IDEs
.idea/
*.iml
.classpath
.project
.settings/

# ESP-IDF
sdkconfig
managed_components/
dependencies.lock

# PostgreSQL
postgres/