services:
  database:
    image: postgres:17-alpine
    container_name: iot-postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: iot-db
    ports:
      - "5432:5432"
    volumes:
      - ./postgres/data:/var/lib/postgresql/data
    networks:
      - iot-network
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U postgres" ]
      interval: 5s
      timeout: 5s
      retries: 5

  mqtt-broker:
    image: eclipse-mosquitto:2.0
    container_name: iot-mosquitto
    ports:
      - "1883:1883"
      - "9001:9001"
    volumes:
      - ./mosquitto.conf:/mosquitto/config/mosquitto.conf
    networks:
      - iot-network

  backend:
    build: .
    container_name: iot-backend
    depends_on:
      database:
        condition: service_healthy
      mqtt-broker:
        condition: service_started
    ports:
      - "8080:8080"
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://database:5432/iot-db
      SPRING_DATASOURCE_USERNAME: postgres
      SPRING_DATASOURCE_PASSWORD: postgres
      MQTT_BROKER-URL: tcp://mqtt-broker:1883
      MQTT_CREDENTIALS_USERNAME: ""
      MQTT_CREDENTIALS_PASSWORD: ""
    networks:
      - iot-network

networks:
  iot-network:
    driver: bridge
