services:
  postgres-db:
    image: postgres:17-alpine
    container_name: mqtt-data-hub-postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: mqtt_data_hub_db
    ports:
      - "5432:5432"
    volumes:
      - postgres-dev-data:/var/lib/postgresql/data

volumes:
  postgres-dev-data:
    driver: local
