menu "MQTT Sensor Configuration"

    config WIFI_SSID
        string "WiFi SSID"
        default "myssid"
        help
            SSID (network name) for the device to connect to.

    config WIFI_PASSWORD
        string "WiFi Password"
        default "mypassword"
        help
            WiFi password (WPA or WPA2) for the device to use.

    config BROKER_URI
        string "MQTT Broker URI"
        default "mqtt://172.20.10.3:1883"
        help
            URL of the MQTT broker to connect to.
            Format: mqtt://host:port

    config SENSOR_TOPIC
        string "MQTT Sensor Data Topic"
        default "customer/1/location/1/device/1/sensor-data"
        help
            MQTT topic to publish sensor data to.

    config MQTT_USERNAME
        string "MQTT Username"
        default "user"
        help
            Username for MQTT broker authentication.

    config MQTT_PASSWORD
        string "MQTT Password"
        default "user"
        help
            Password for MQTT broker authentication.

endmenu
