spring:
  jpa:
    hibernate:
      ddl-auto: update
  datasource:
    driver-class-name: org.postgresql.Driver

logging:
  level:
    root: info

springdoc:
  api-docs:
    enabled: true
  swagger-ui:
    enabled: true

mqtt:
  broker-url: tcp://mosquitto:1883
  credentials:
    username: ""
    password: ""
